<div class='page-loader h-full w-full fixed top-0 left-0 z-[9999] bg-sand/80 backdrop-blur place-content-center hidden'>
  <l-hourglass size='100' bg-opacity='0.1' speed='1.75' color='#86341F'></l-hourglass>
</div>
