.safe-container {
  background: theme(colors.white);
  border: solid 0.0625rem theme(colors.gray.200);
  border-radius: 0.375rem;
  box-shadow: 0rem 0.8125rem 0.625rem #0000000F;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;

  /* prettier-ignore */
  &:not(:has(input[type='checkbox'])):not(:has(input[type='radio'])):not(:has(input[type='file'])) {
    & label {
      overflow: hidden;
      padding: 0rem 1.25rem;
      text-overflow: ellipsis;
      transition: color 0.2s ease;
      user-select: none;
      white-space: nowrap;
    }

    & input:not([type='checkbox']):not([type='radio']),
    & select,
    & textarea {
      appearance: none;
      background: transparent;
      border: solid 0.0625rem transparent;
      border-radius: 0.375rem;
      color: theme(colors.black);
      font-size: 1rem;
      font-family: theme(fontFamily.primary);
      padding: 1.25rem;
      position: relative;
      transition: border 0.2s ease;
      width: 100%;
      z-index: 1;

      &::placeholder {
        color: theme(colors.placeholder);
      }
    }

    & textarea {
      resize: none;
      vertical-align: middle;
    }


    & select {
      cursor: pointer;
      padding-right: 2.5rem;

      & + span svg {
        color: theme(colors.black);
        height: 1.25rem;
      }
    }

    &:has(input:focus),
    &:has(select:focus),
    &:has(textarea:focus) {
      & input:not([type='checkbox']):not([type='radio']),
      & select,
      & textarea {
        border-color: theme(colors.secondary);
      }
    }

    &[data-filled] {
      & label {
        color: theme(colors.primary);
      }

      & input:not([type='checkbox']):not([type='radio']),
      & select,
      & textarea {
        border-color: theme(colors.secondary);
      }
    }

    &[data-error] {
      & label {
        color: theme(colors.error);
      }

      & input:not([type='checkbox']):not([type='radio']),
      & select,
      & textarea {
        border-color: theme(colors.error);
      }
    }

    &[data-unselected] {
      & select {
        color: theme(colors.placeholder);
      }
    }

    &[data-basic] {
      & .safe-container {
        background: transparent;
        border: none;
        border-bottom: solid 0.0625rem theme(colors.gray.200);
        box-shadow: none;
      }
    }
  }

  &:has(input[type='checkbox']),
  &:has(input[type='radio']) {
    & label {
      cursor: pointer;
      display: flex;
      gap: 0.625rem;
      position: relative;
      user-select: none;

      &:before {
        background: theme(colors.white);
        border-radius: 0.125rem;
        box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.05);
        content: '';
        height: 1rem;
        flex: 0 0 auto;
        margin-top: 0.25rem;
        transition: background 0.2s ease;
        width: 1rem;
      }
    }

    & .safe-container {
      display: none;
    }

    & input {
      display: none;
    }

    &[data-error] {
      & label {
        &:before {
          background: theme(colors.error);
        }
      }
    }
  }

  &:has(input:checked) {
    & label {
      &:before {
        background: theme(colors.secondary);
      }
    }
  }
}
