---
import Main from '@/layouts/Main.astro'

import HeaderHome from '@/sections/HeaderHome/HeaderHome.astro'
import Certifications from '@/sections/Certifications/Certifications.astro'
import Solutions from '@/sections/Solutions/Solutions.astro'
// import Testimonials from '@/sections/Testimonials/Testimonials.astro'
import Contact from '@/sections/Contact/Contact.astro'
import Products from '@/sections/Products/Products.astro'
import Table from '@/sections/Table/Table.astro'
---

<Main>
  <HeaderHome />
  <Certifications />
  <Solutions />
  <Table />
  <Products />
  <!-- <Testimonials /> -->
  <Contact />
</Main>
